<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKmc4NGQGf28u0dhUxc-uLfYT683hMU4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>387152961618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.equ.e1ys14nb4ac0n</string>
	<key>PROJECT_ID</key>
	<string>app485-6df64</string>
	<key>STORAGE_BUCKET</key>
	<string>app485-6df64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387152961618:ios:b41e1e809e325cef09ff8b</string>
</dict>
</plist>